###### 함수선언
* 값을 swapping 해주는 함수
* tuple을 반환하는 함수

In [6]:
# swapping 해주는 함수
def swap(a,b):
    return (b,a)

In [7]:
swap(10,20)

(20, 10)

In [9]:
a,b = swap(40,50)
print(a,b)

50 40

In [12]:
file_name = 'aaa.jpg'
print('파일명은 {} 이고 파일명의 길이는 {}'.format(file_name, len(file_name)))

파일명은 aaa.jpg 이고 파일명의 길이는 7

In [14]:
print(f'파일명은 {file_name} 이고 파일명의 길이는 {len(file_name)}')

파일명은 aaa.jpg 이고 파일명의 길이는 7

In [18]:
my_list = ['a','b','c']
for idx,val in enumerate(my_list,1):
    print(idx, val)

1 a
2 b
3 c

In [23]:
my_text = """Yesterday all my troubles seemed so far away.
Now it looks as though they're here to stay.
Oh, I believe in yesterday.

Suddenly I'm not half the man I used to be.
There's a shadow hanging over me.
Oh, yesterday came suddenly.
"""
print(my_text)

Yesterday all my troubles seemed so far away.
Now it looks as though they're here to stay.
Oh, I believe in yesterday.

Suddenly I'm not half the man I used to be.
There's a shadow hanging over me.
Oh, yesterday came suddenly.

In [34]:
print(type(my_text.split("\n")))
lyric_list = my_text.split("\n")
lyric_list

<class 'list'>

['Yesterday all my troubles seemed so far away.',
 "Now it looks as though they're here to stay.",
 'Oh, I believe in yesterday.',
 '',
 "Suddenly I'm not half the man I used to be.",
 "There's a shadow hanging over me.",
 'Oh, yesterday came suddenly.',
 '']

In [35]:
lyric_list2 = [lyric for lyric in lyric_list if len(lyric) != 0]
lyric_list2

['Yesterday all my troubles seemed so far away.',
 "Now it looks as though they're here to stay.",
 'Oh, I believe in yesterday.',
 "Suddenly I'm not half the man I used to be.",
 "There's a shadow hanging over me.",
 'Oh, yesterday came suddenly.']

In [2]:
# list comprehension 적용 전
my_list = ['apple','banana','cherry','mango']
new_list = []
for val in my_list:
    if 'a' in val:
        print(val)
        new_list.append(val)

new_list

apple
banana
mango

['apple', 'banana', 'mango']

In [3]:
# list comprehension 적용 후
afruit_list = [val for val in my_list if 'a' in val]
afruit_list

['apple', 'banana', 'mango']

In [5]:
value = (100)
print(type(value), value)

<class 'int'> 100

In [6]:
value2 = (100,)
print(type(value2), value2)

<class 'tuple'> (100,)

In [7]:
dt_list = ['정당','선거구']
dd_list = ['민주당','서울은평구']

print(type(zip(dt_list,dd_list)))
print(zip(dt_list,dd_list))

<class 'zip'>
<zip object at 0x0000017026C1D0C0>

In [9]:
for data in zip(dt_list,dd_list):
    print(type(data))
    print(data)

<class 'tuple'>
('정당', '민주당')
<class 'tuple'>
('선거구', '서울은평구')

In [10]:
data_dict = dict(zip(dt_list,dd_list))
data_dict

{'정당': '민주당', '선거구': '서울은평구'}

In [14]:
from datetime import date

today = date.today()
print(today.year, today.month, today.day)

2021 10 8

In [16]:
birth_1 = date(1960,6,4)
birth_2 = date(1960,12,1)

In [19]:
#True - 1, False - 0
(7,8) < (10,2)

True

In [21]:
# False 0
(today.month, today.day) < (birth_1.month, birth_1.day)

False

In [22]:
# True 1
(today.month, today.day) < (birth_2.month, birth_2.day)

True

In [24]:
age = today.year - birth_1.year - ((today.month, today.day) < (birth_1.month, birth_1.day))
print(age)

61

In [25]:
age = today.year - birth_2.year - ((today.month, today.day) < (birth_2.month, birth_2.day))
print(age)

60